<aside class="col-md-3 col-lg-3" style="border: 1px solid #e9e9e9;border-radius: 3px;background-color: #f5f5f5; ">
    <ul class="nav nav-dashboard flex-column mb-3 mb-md-0" role="tablist">
        <li class="nav-item">
             <a class="nav-link " id="tab-dashboard-link"  href="/dashboard" ><i class="icon-user" style="padding: 5px;"></i>Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " id="tab-orders-link"  href="/order" role="tab" ><i class="icon-arrow-up" style="padding: 5px;"></i>Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab-downloads-link"  href="/cart" role="tab" aria-controls="tab-downloads" aria-selected="false"><i class="icon-shopping-cart" style="padding: 5px;"></i>My Cart</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " id="tab-address-link"  href="/wishlist" ><i class="icon-heart-o" style="padding: 5px;"></i>Wishlist</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab-account-link"  href="/addaddress" ><i class="icon-plus" style="padding: 5px;"></i>Add Address</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" id="tab-account-link" data-toggle="tab" href="#tab-address" role="tab" aria-controls="tab-account" aria-selected="false"><i class="icon-bars" style="padding: 5px;"></i>Address</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab-account-link" href="/account" role="tab" aria-controls="tab-account" aria-selected="false"><i  class="fas fa-user-circle" style="padding: 5px;"></i>Account Details</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="tab-account-link" href="wallet" ><i class="fas fa-wallet" style="padding: 5px;"></i>Wallet</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" style="border: none;" href="/logout"><i class="fas fa-sign-out-alt" style="padding: 5px;"></i>
                Sign Out</a>
        </li>
    </ul>
  
</aside><!-- End .col-lg-3 -->